@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.37em 4.31em;
    height: 5.8em;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
}

.logo{
    cursor: pointer;
}

.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 1.25em;
}

.banner_sale{
    width: 100%;

}

.promocao_texto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.37em 4.31em;
    height: 5.8em;
    color: #161616;
    font-style: normal;
    border-bottom: 0.0125em solid #E5E5E5;
}

.promo{
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25em;
    line-height: 1.5em;
}

.nprodutos{
    font-style: normal;
    font-weight: 400;
    font-size: 1.125em;
    line-height: 1.37em;
    color: #161616;
}
.produtos{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #161616;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    gap: 4.06em 12.18em;
}

.produtos a{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #161616;
}

.produtos img{
    left: 70px;
    top: 612px;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: transform .6s ease;
}

.produtos img:hover{
    transform: scale(1.2);
}

.produtos p{
    padding-top: 23px;
}

.produtos div{
    padding: 0em, 12.18em, 4.06em, 0em;
}

main{
    padding: 3.56em 4.37em 7.25em;
}

footer{
    background-color: #F9F9F9;
    border-top: 0.0125em solid #E5E5E5;
    border-bottom: 0.0125em solid #E5E5E5;
}

footer a{
    text-decoration: none;
    font-style: normal;
}

footer li{
    list-style: none;
    padding-top: 11px;
}

.ftop{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #161616;
}

.flinks{
    padding-left: 4.4375em;
    padding-top: 29px;
}

.flinks a{
    text-decoration: none;
    color: #161616;
}

.newsletter{
    padding: 55px 70px 65px 0px;
}

button{
    width: 152px;
    height: 54px;
    background: #5CA720;
    border-radius: 0px 5px 5px 0px;
}

.fbottom{
    border-top: 0.0125em solid #E5E5E5;
    border-bottom: 0.0125em solid #E5E5E5;
}